[submodule "builder/frameworks/arduino"]
	path = builder/frameworks/arduino
	url = https://github.com/platformio/builder-framework-arduino-nrf5.git
[submodule "builder/frameworks/builder-framework-arduino-nrf5"]
	path = builder/frameworks/builder-framework-arduino-nrf5
	url = https://github.com/carminevalentino/builder-framework-arduino-nrf5.git
